[submodule "freedesktop"]
	path = freedesktop
	url = https://github.com/lcpz/awesome-freedesktop
	branch = master
[submodule "lain"]
	path = lain
	url = https://github.com/lcpz/lain
	branch = master
[submodule "redflat"]
	path = redflat
	url = https://github.com/rouxb/redflat
	branch = master
